<div class="movie">
    <h2>Title: {{movie.title}} ({{movie.year}})</h2>
    <img
        src="{{movie.image}}">
    <p>Available Tickets: {{movie.ticketsCount}}</p>
    <div class="btn-group">
        <button><a href="#">Edit</a></button>
        <button><a href="#">Delete</a></button>
        <button><a href="#">Buy Ticket</a></button>
        <button><a href="#">Details</a></button>
    </div>
</div>